<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>投稿編集</title>
</head>

<body>
<div th:replace="~{common/fragments :: header-menu('スレッド')}"></div>

<div class="main">
    <div class="main-wrapper">
        <div class="header-contents">
            <div>投稿編集</div>
            <form action="/static">
                <input type="submit" value="戻る"/>
            </form>
        </div>

        <form th:method="put" th:action="@{/{slug}/topic/{topicId}/{id}/edit(slug=${slug}, topicId=${topicId}, id=${post.id})}" th:object="${postRequest}">
            <div class="form-area">
                <label>編集内容</label>
                <textarea class="tweet-box" th:field="*{content}"></textarea>
                <input type="submit" value="更新"/>
            </div>
        </form>
    </div>
</div>

<div th:replace="~{common/fragments :: footer-copy}"></div>
</body>

</html>

